[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
mysqlclient = "*"
flask-sqlalchemy = "*"
flask-bootstrap = "*"
flask-wtf = "*"
flask-moment = "*"

[dev-packages]

[requires]
python_version = "3.6"
